<h1>All known wines</h1>
<table>
  <% for wine in @wines %>
    <tr>
      <td>
        <%= image_tag wine.image_url, :class => "span-2" %>
      </td>
      <td>
        <dl>
          <dt><%=h wine.name %></dt>
          <dd><%= wine.description %></dd>
        </dl>
      </td>
    </tr>
  <% end %>
</table>
